// Colors
$primary: #0181F5; //brand color #2195FB
$secondary: #35EBED; // accent color #3AF7F0
$hover: #4BA8FD;
$background: #5CB3FE; // panel bgc , button solid
$background1: #E9F4FE;
$background2: #FEF4EE;
$background3: #E8FCF1;


$basetext: #727272; //paragraph, text #727272
$heading: #2C2C2C; //heading and titles #2C2C2C
$reverse: #ffffff; //

$bgcolor: #f5f5f5; // site background

$price2: #FDAE5C;
$price1: #0181F5;
$price3: #00D363;
$rating:#ffc107;

$gradient1:linear-gradient(45deg, #0181f5 0%, #5db2ff 100%);
$gradient2:linear-gradient(45deg, #fdae5c 0%, #fd8e5e 100%);
$gradient3:linear-gradient(45deg, #37ef8d 0%, #37ef8d 100%);

// Font Family
$fontbase: Poppins,
sans-serif;
$text-line: 1.5;

//fonts size
$h1: 6rem;
$h2: 4.6rem;
$h3: 2.4rem;
$h4: 1.8rem;
$h5: 1.4rem;
$text: 1.6rem